body{
    margin: 0px;
}
#header{
    background-color: black;
    height: 80px;
    
}
#logo{
    width:40%;
    float:left;
    text-align: center;
}
#menu{
    text-align: center;
    width:60%;
    float:right;
    line-height: 70px;
}
h2{
    color:blanchedalmond;
}
span{
    margin-right: 40px;
    color:blanchedalmond;
}
img{
    border-radius: 50%;
}
#page{
    margin-top: 40px;
}
#othsec{
    margin-top: 100px;
    
}
#sec1{
    width: 40%;
    float: left;
    text-align: center;
    margin-top: 80px;
}

#sec2{
    width: 50%;
    float: right;
    margin-right: 80px;
    text-align: justify;
}
table{
    width: 100%;
}

#tablesec{
    margin-top: 500px;
}
#footer{
    background-color: rgb(105, 6, 6);
    color:white;
    text-align: center;
    margin-top: 100px;
    padding:50px;
}

.heading{
    text-align: center;
}